body{
//	background-image:url('9785.jpg');
background-color:#FAEBD7;

}

p{
//text-shadow: 5px 5px 5px #FF0000;
font-family: Papyrus, fantasy;font-size:40px;
font-weight:bold;
position:fixed;
top:200;
left:490;
color:#A52A2A;
}
p:hover{
color:#6495ED;
}
input{
position:fixed;
top:300px;
left:400;
}
